<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Niterói</a></h1>
        </div>

        <div>
            <p>Publicado: 20.06.2015, 18:00</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>O workshop Django Girls Niterói foi um evento excelente. Sendo o primeiro da América Latina, muito bem organizado e com treinadores bem capacitados a ensinar. O evento só pode acontecer graças a equipe do evento e também aos interessados em aprender com esse framework. Parabéns a todos que participaram do evento que fez do mesmo um sucesso.</p>
        </div>

        <div>
            <p>Publicado: 23.06.2015, 22:45</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Agradecimento a todos da equipe que organizaram o evento quanto os que participaram interessados na liguagem de programação.</p>
        </div>
    </body>
</html>